h1.page-header {
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.pagination {
   justify-content: center;
}
.control-label{
  font-weight: bold
}
.control-label.required:after {
  content: "*";
  color: red;
  margin-left: 3px;
  font-size: 80%;
}